In [8]:
import pandas as pd

df = pd.DataFrame(expenses)
df

   ID        Date   Category      Description  Amount
0   1  01-01-2025       Food            Lunch     120
1   2  02-01-2025     Travel         Bus Fare      40
2   3  03-01-2025      Books         Notebook     150
3   4  04-01-2025       Food           Snacks      60
4   5  05-01-2025      Bills  Mobile Recharge     299
5   6  06-01-2025     Travel             Auto      80
6   7  07-01-2025       Food           Dinner     180
7   8  08-01-2025   Shopping          Clothes     900
8   9  09-01-2025  Education    Online Course     500
9  10  10-01-2025       Misc       Stationery      90

In [9]:
expenses = []

In [10]:
def add_expense(exp_id, date, category, description, amount):
    record = {
        "ID": exp_id,
        "Date": date,
        "Category": category,
        "Description": description,
        "Amount": amount
    }
    expenses.append(record)

In [11]:
add_expense(1, "01-01-2025", "Food", "Lunch", 120)
add_expense(2, "02-01-2025", "Travel", "Bus Fare", 40)
add_expense(3, "03-01-2025", "Books", "Notebook", 150)
add_expense(4, "04-01-2025", "Food", "Snacks", 60)
add_expense(5, "05-01-2025", "Bills", "Mobile Recharge", 299)
add_expense(6, "06-01-2025", "Travel", "Auto", 80)
add_expense(7, "07-01-2025", "Food", "Dinner", 180)
add_expense(8, "08-01-2025", "Shopping", "Clothes", 900)
add_expense(9, "09-01-2025", "Education", "Online Course", 500)
add_expense(10, "10-01-2025", "Misc", "Stationery", 90)

In [12]:
for e in expenses:
    print(e)

{'ID': 1, 'Date': '01-01-2025', 'Category': 'Food', 'Description': 'Lunch', 'Amount': 120}
{'ID': 2, 'Date': '02-01-2025', 'Category': 'Travel', 'Description': 'Bus Fare', 'Amount': 40}
{'ID': 3, 'Date': '03-01-2025', 'Category': 'Books', 'Description': 'Notebook', 'Amount': 150}
{'ID': 4, 'Date': '04-01-2025', 'Category': 'Food', 'Description': 'Snacks', 'Amount': 60}
{'ID': 5, 'Date': '05-01-2025', 'Category': 'Bills', 'Description': 'Mobile Recharge', 'Amount': 299}
{'ID': 6, 'Date': '06-01-2025', 'Category': 'Travel', 'Description': 'Auto', 'Amount': 80}
{'ID': 7, 'Date': '07-01-2025', 'Category': 'Food', 'Description': 'Dinner', 'Amount': 180}
{'ID': 8, 'Date': '08-01-2025', 'Category': 'Shopping', 'Description': 'Clothes', 'Amount': 900}
{'ID': 9, 'Date': '09-01-2025', 'Category': 'Education', 'Description': 'Online Course', 'Amount': 500}
{'ID': 10, 'Date': '10-01-2025', 'Category': 'Misc', 'Description': 'Stationery', 'Amount': 90}

In [13]:
print("Number of rows:", len(expenses))
print("Number of columns:", len(expenses[0].keys()))
print("Columns:", list(expenses[0].keys()))

Number of rows: 10
Number of columns: 5
Columns: ['ID', 'Date', 'Category', 'Description', 'Amount']

In [14]:
with open("expense_data.txt", "w") as file:
    for e in expenses:
        file.write(str(e) + "\n")

print("Dataset saved successfully")

Dataset saved successfully

In [16]:
while True:
    print("\n1. View Dataset")
    print("2. Exit")

    choice = input("Enter choice: ")

    if choice == "1":
        for e in expenses:
            print(e)
    elif choice == "2":
        print("Exiting")
        break
    else:
        print("Invalid choice")

1. View Dataset
2. Exit

Enter choice:  1

{'ID': 1, 'Date': '01-01-2025', 'Category': 'Food', 'Description': 'Lunch', 'Amount': 120}
{'ID': 2, 'Date': '02-01-2025', 'Category': 'Travel', 'Description': 'Bus Fare', 'Amount': 40}
{'ID': 3, 'Date': '03-01-2025', 'Category': 'Books', 'Description': 'Notebook', 'Amount': 150}
{'ID': 4, 'Date': '04-01-2025', 'Category': 'Food', 'Description': 'Snacks', 'Amount': 60}
{'ID': 5, 'Date': '05-01-2025', 'Category': 'Bills', 'Description': 'Mobile Recharge', 'Amount': 299}
{'ID': 6, 'Date': '06-01-2025', 'Category': 'Travel', 'Description': 'Auto', 'Amount': 80}
{'ID': 7, 'Date': '07-01-2025', 'Category': 'Food', 'Description': 'Dinner', 'Amount': 180}
{'ID': 8, 'Date': '08-01-2025', 'Category': 'Shopping', 'Description': 'Clothes', 'Amount': 900}
{'ID': 9, 'Date': '09-01-2025', 'Category': 'Education', 'Description': 'Online Course', 'Amount': 500}
{'ID': 10, 'Date': '10-01-2025', 'Category': 'Misc', 'Description': 'Stationery', 'Amount': 90}

1. View Dataset
2. Exit

Enter choice:  2

Exiting